.navbar.navbar-default.navbar-inverse
	.container
		.navbar-header
			a.navbar-brand(href="/") 重度科幻迷
		if user
			p.navbar-text.navbar-right
				span 欢迎您, #{user.name}
				span &nbsp;|&nbsp;
				a.navbar-link(href="/logout") Log out
		else
			p.navbar-text.navbar-right
				a.navbar-link(href="#", data-toggle="modal", data-target="#signupModal") Sign up
				span &nbsp;|&nbsp;
				a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") Sign in
.container
	.row
		.page-header.clearfix
			h1= title
			.col-md-4
				small 重度科幻迷
			.col-md-8
				form(method="GET", action='/results')
					.input-group.col-sm-4.pull-right
						input.form-control(type='text', name='q')
						span.input-group-btn
							button.btn.btn-default(type='submit') Search

#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signup")
				.modal-header Sign up
				.modal-body
					.form-group
						label(for="signupName") Username
						input#signupName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signupPasswd") Password
						input#signupPasswd.form-control(name="user[passwd]", type="text")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Close
					button.btn.btn-success(type="submit") Submit

#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signin")
				.modal-header Sign in
				.modal-body
					.form-group
						label(for="signinName") Username
						input#signinName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signinPasswd") Password
						input#signinPasswd.form-control(name="user[passwd]", type="text")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Close
					button.btn.btn-success(type="submit") Submit